<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Home</title>
    <%- include('../partials/head') %>

</head>

<body>
  
    <div class="container-fluid">
        
        <header class="">
            <%- include ('../partials/header') %>
        </header>

        <main class="">
            
           
            <nav class="row mt-5">
    
                <div class="col ">
                    <ul class="nav nav-tabs justify-content-center">
                        <li class="nav-item">
                            <a href="#" class="nav-link active" aria-current="page">Ver todo</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Discos duros</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Procesadores</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Placas de video</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Motherboards</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Memorias ram</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Monitores</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Periféricos</a>
                        </li>
                    </ul>
                </div>
                
            </nav>
            

            <section class="row mt-3">
                <div class="col">
                    <div class="carousel slide carousel-fade" id="mi-carousel" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active d-block w-100">
                                <img class="img-fluid" src="/images/carousel1.jpg" alt="">
                            </div>
                            <div class="carousel-item d-block w-100" data-bs-interval="5000">
                                <img class="img-fluid" src="/images/carousel2.jpg" alt="" >
                            </div>
                            <div class="carousel-item d-block w-100">
                                <img class="img-fluid" src="/images/carousel3.jpg" alt="">
                            </div>
                            <div class="carousel-item d-block w-100">
                                <img class="img-fluid" src="/images/carousel3.jpg" alt="">
                            </div>
                        </div>
    
                        <!-- Controles -->
                        <button 
                            class="carousel-control-prev"
                            type="button"
                            data-bs-target="#mi-carousel"
                            data-bs-slide="prev"
                        >
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Anterior</span>
                        </button>
    
                        <button 
                            class="carousel-control-next"
                            type="button"
                            data-bs-target="#mi-carousel"
                            data-bs-slide="next"
                        >
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Siguiente</span>
                        </button>
    
                        <!-- Indicadores -->
                        <div class="carousel-indicators">
                            <button 
                                type="button"
                                class="active"
                                data-bs-target="#mi-carousel"
                                data-bs-slide-to="0"
                                aria-label="Slide 1"
                            ></button>
                            <button 
                                type="button"
                                class=""
                                data-bs-target="#mi-carousel"
                                data-bs-slide-to="1"
                                aria-label="Slide 2"
                            ></button>
                            <button 
                                type="button"
                                class=""
                                data-bs-target="#mi-carousel"
                                data-bs-slide-to="2"
                                aria-label="Slide 3"
                            ></button>
                            <button 
                                type="button"
                                class=""
                                data-bs-target="#mi-carousel"
                                data-bs-slide-to="3"
                                aria-label="Slide 4"
                            ></button>
                        </div>
                    </div>
                </div>
            </section>
        
            <!--OFERTAS-->
            <section class="row mt-3">
                <h2 class="text-primary">Ofertas (hacer esto con grid/img mismo w/h)</h2>
                <!--con grid esto va quedar mejor cuando aumente la cantidad de productos-->
                <% 
                    let long;
                    if(productList.length<10){
                        long = productList.length
                    }
                    else{
                        long = 10;
                    }
                
                    for(let i=0; i<long ; i++){ 
                %>                
                        <div class="col-3 mx-auto">
                            <div class="card border-primary">
                                
                                <a href="/products/detail/<%= productList[i].id %>">
                                    <img src="<%= productList[i].images[0].url %>" width="400" height="300" alt="imagen-oferta" class="card-img-top">
                                </a>
                                <div class="card-body">
                                    
                                    <p class="card-text">
                                        <%= productList[i].short_description  %>
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                    </p>
                                    <p class="card-subtitle">
                                        $<%= productList[i].price %>
                                    </p>
                                    
                                    <a class="btn btn-outline-primary">
                                        Agregar
                                    </a>
                                </div>
                                
                            </div>
                        </div>    
                <%  } %>        
    
            </section>
            
            <!--DESTACADOS-->
            <section class="row mt-3">
                <h2 class="text-primary">Destacados</h2>
                <!--con grid esto va quedar mejor cuando aumente la cantidad de productos-->
                <% 
                    for(let i=0; i<long ; i++){ 
                %>                
                        <div class="col-3 mx-auto">
                            <div class="card border-primary">
                                
                                <a href="/products/detail/<%= productList[i].id %>">
                                    <img src="<%= productList[i].images[0].url %>" width="400" height="300" alt="imagen-oferta" class="card-img-top">
                                    <!--img con mismo w-h en la bd-->
                                </a>
                                <div class="card-body">
                                    
                                    <p class="card-text">
                                        <%= productList[i].short_description  %>
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                    </p>
                                    <p class="card-subtitle">
                                        $<%= productList[i].price %>
                                    </p>
                                    
                                    <a class="btn btn-outline-primary">
                                        Agregar
                                    </a>
                                </div>
                                
                            </div>
                        </div>    
                <%  } %>        
    
            </section>
            
            <!--REDES-->
            <section class="row mt-3">
                
                <h2 class="text-primary">Contacto</h2>
                    
                <div class="col-3 mx-auto">
                    <div class="card">
                        <img src="/images/googlemaps.jpg"  class="card-img-top" width="250" height="250">
                    
                        <p class="card-text">
                            Av. Cazon 2530 Tigre
                        </p>
                    </div>
                </div>

                <div class="col-3 mx-auto">
                    <div class="card">
                        <img src="/images/PC-Hora.jpg"  class="card-img-top" width="250" height="250">
                    
                        <p class="card-text">
                            Horarios de atencion: 8hs a 19hs
                        </p>
                    </div>
                </div>

                <div class="col-3 mx-auto">
                    <div class="card">
                        <img src="/images/servicio-cliente.jpg"  class="card-img-top" width="250" height="250">
                    
                        <div class="card-text">
                            <p class="">E-mail: hardcomerce@gmail.com</p> 
                            <p class="">Cel/tel: 15374987365</p>
                        </div>
                    </div>
                </div>
    
            </section>
           
        </main>
    
        <footer class="bg-light">
            <%- include("../partials/footer") %>
        </footer>

    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>