<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/CSS/IndexStyle.css">
    <%- include('../partials/head') %>
</head>
<body>

    <header>
    <%- include ('../partials/header') %>
    </header>

    <main class= "indexmain">
        <!--CARRUSEL PRODUCTOS-->
        <section class="contenedor-main-carrusel">
            <a href="#" class="carrusel-productos__producto">
                <a href="#">
                <div class="carrusel-productos__imagen-carrusel">
                    <img src="/images/shop-2080-ti-1070@2x.jpg" alt="imagen-carrusel" class="carrusel-productos__imagen" width="100%">
                </div>
                <a href="#" class="button-carrusel button-carrusel--RH">
                    <i class="fas fa-angle-right"></i>
                </a>
                <a href="#"  class="button-carrusel button-carrusel--LH">
                    <i class="fas fa-angle-left"></i>
                </a>
            </a>
        </section>
        <!---OFERTAS--->
        <section class="contenedor-seccion">
            <p class="titulos-home">Ofertas</p>
            <div class="contenedor-productos">
                <% for(let i=0; i<productList.length; i++) {%> 
                    <article class="producto producto--oferta">
                            <a href="/products/detail/<%= productList[i].id %>" class="producto__button-producto">
                                <div class="producto__contenedor-imagen">
                                    <img src="/images/imgProducts/<%= productList[i].image1 %>" alt="imagen-oferta" class="producto__imagen" width="100%">
                                </div>
                                <p class="producto__descripcion">
                                    <%= productList[i].description  %> 
                                </p>
                                <p class="producto__precio">
                                    $<%= productList[i].price %>
                                </p>
                            </a>
                            <a href="/products/cart" class="button-agregar">
                                <div class="button-agregar__contenedor-imagen">
                                    <i class="fas fa-shopping-cart"></i>
                                </div>
                                <span class="button-agregar__body">Agregar</span>
                            </a>
                    </article>
                <% } %> 
                 
            </div>
        </section>
        <!--SECCION CONTACTO-->
        <section class="contenedor-seccion">
            <p class="titulos-home"> Contacto </p>
            <div class="contenedor-contacto">
                <a href="#" class="forma-contacto">
                    <div class="forma-contacto__contenedor-imagen">
                        <img src="/images/googlemaps.jpg"  class="forma-contacto__imagen" width="100%">
                    </div>
                    <p class="forma-contacto__descripcion">
                        Av. Cazon 2530 Tigre
                    </p>
                </a>
                <a href="#" class="forma-contacto">
                    <div class="forma-contacto__contenedor-imagen">
                        <img src="/images/PC-Hora.jpg"  class="forma-contacto__imagen" width="100%">
                    </div>
                    <p class="forma-contacto__descripcion">
                        Horarios de atencion: 8hs a 19hs
                    </p>
                </a>
                <a href="#" class="forma-contacto">
                    <div class="forma-contacto__contenedor-imagen">
                        <img src="/images/servicio-cliente.jpg"  class="forma-contacto__imagen" width="100%">
                    </div>
                    <div class="forma-contacto__descripcion">
                        <p class="forma-contacto__email">E-mail: hardcomerce@gmail.com</p> 
                        <p class="forma-contacto__cel">Cel/tel: 15374987365</p>
                    </div>
                </a>
             </div>
        </section>
        <!--SECCION DESTACADOS-->
        <section class="contenedor-seccion">
            <p class="titulos-home"> Destacados </p>
            <div class="contenedor-productos">

                <% for(let i=0; i<productList.length; i++) {%>  
                    <article class="producto producto--oferta">
                            <a href="/products/detail/<%= productList[i].id %>" class="producto__button-producto">
                                <div class="producto__contenedor-imagen">
                                    <img src="/images/imgProducts/<%= productList[i].image1 %>" alt="imagen-oferta" class="producto__imagen" width="100%">
                                </div>
                                <p class="producto__descripcion">
                                    <%= productList[i].description  %> 
                                </p>
                                <p class="producto__precio">
                                    $<%= productList[i].price %>
                                </p>
                            </a>
                            <a href="/products/cart" class="button-agregar">
                                <div class="button-agregar__contenedor-imagen">
                                    <i class="fas fa-shopping-cart"></i>
                                </div>
                                <span class="button-agregar__body">Agregar</span>
                            </a>
                    </article>
                 <% } %> 

            </div>
        </section>
        <!--SECCION CLASIFICACION-->
        <section class="clasificacion">
            <p class="titulos-home">¿Que estas buscando?</p>
            <div class="contenedor-clasificacion">
                <div class="columna-button">
                    <a href="#" class="button-clasificacion">
                        <div class="button-clasificacion__contenedor-img">
                            <img src="/images/Disco duro.png" alt="icono-disco-duro" width="100%" class="button-clasificacion__img">
                        </div>
                        <p class="button-clasificacion__descripcion">Discos mecanicos</p>
                    </a>
                    <a href="#" class="button-clasificacion">
                        <div class="button-clasificacion__contenedor-img">
                            <img src="/images/ssd.png" alt="icono-disco-duro" width="100%" class="button-clasificacion__img">
                        </div>
                        <p class="button-clasificacion__descripcion">SSD</p>
                    </a>
                </div>
                <div class="columna-button">
                    <a href="#" class="button-clasificacion">
                        <div class="button-clasificacion__contenedor-img">
                            <img src="/images/procesador.png" alt="icono-procesador" width="100%" class="button-clasificacion__img">
                        </div>
                        <p class="button-clasificacion__descripcion">Procesadores</p>
                    </a>
                    <a href="#" class="button-clasificacion">
                        <div class="button-clasificacion__contenedor-img">
                            <img src="/images/placa video.png" alt="icono-video" width="100%" class="button-clasificacion__img">
                        </div>
                        <p class="button-clasificacion__descripcion">Placas de video</p>
                    </a>
                </div>
                <div class="columna-button">
                    <a href="#" class="button-clasificacion">
                        <div class="button-clasificacion__contenedor-img">
                            <img src="/images/motherboard.png" alt="icono-mother" width="100%" class="button-clasificacion__img">
                        </div>
                        <p class="button-clasificacion__descripcion">Motherboards</p>
                    </a>
                    <a href="#" class="button-clasificacion">
                        <div class="button-clasificacion__contenedor-img">
                            <img src="/images/memoria ram.png" alt="icono-ram" width="100%" class="button-clasificacion__img">
                        </div>
                        <p class="button-clasificacion__descripcion">Memorias ram</p>
                    </a>
                </div>
                <div class="columna-button">
                    <a href="#" class="button-clasificacion">
                        <div class="button-clasificacion__contenedor-img">
                            <img src="/images/monitor.png" alt="icono-monitor" width="100%" class="button-clasificacion__img">
                        </div>
                        <p class="button-clasificacion__descripcion">Monitores</p>
                    </a>
                    <a href="#" class="button-clasificacion">
                        <div class="button-clasificacion__contenedor-img">
                            <img src="/images/periferico.png" alt="icono-periferico" width="100%" class="button-clasificacion__img">
                        </div>
                        <p class="button-clasificacion__descripcion">Preifericos</p>
                    </a>
                </div>

            </div>
        </section>
 
    </main>

    <footer class="main-footer">
        <%- include("../partials/footer") %>
    </footer>
    
</body>
</html>