<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/CSS/IndexStyle.css">
    <%- include('../partials/head') %>
</head>
<body>

    <header>
    <%- include ('../partials/header') %>
    </header>

    <main class= "indexmain">
        <!--CARRUSEL PRODUCTOS-->
        <section class="contenedor-main-carrusel">
            <div class="carrusel-productos__producto">
                <div class="carrusel-productos__imagen-carrusel">
                    <img src="/images/shop-2080-ti-1070@2x.jpg" alt="imagen-carrusel" class="carrusel-productos__imagen" width="100%">
                </div>
                <a href="#" class="button-carrusel button-carrusel--RH">
                    <i class="fas fa-angle-right"></i>
                </a>
                <a href="#"  class="button-carrusel button-carrusel--LH">
                    <i class="fas fa-angle-left"></i>
                </a>
            </div>
        </section>
        <!---OFERTAS--->
        <section class="contenedor-seccion">
            <p class="titulos-home">Ofertas</p>
            <div class="contenedor-productos">
                <% for(let i=0; i<productList.length; i++) {%>
                    <article class="producto producto--oferta">
                            <a href="/products/detail/<%= productList[i].id %>" class="producto__button-producto">
                                <div class="producto__contenedor-imagen">
                                    <img src="<%= productList[i].images[0].url %>" alt="imagen-oferta" class="producto__imagen" width="100%">
                                </div>
                                <p class="producto__descripcion">
                                    <%= productList[i].short_description  %>
                                </p>
                                <p class="producto__precio">
                                    $<%= productList[i].price %>
                                </p>
                            </a>
                            <a href="/products/cart" class="button-agregar">
                                <div class="button-agregar__contenedor-imagen">
                                    <i class="fas fa-shopping-cart"></i>
                                </div>
                                <span class="button-agregar__body">Agregar</span>
                            </a>
                    </article>
                <% } %>

            </div>
        </section>
        <!--SECCION DESTACADOS-->
        <section class="contenedor-seccion">
            <p class="titulos-home"> Destacados </p>
            <div class="contenedor-productos">

                <% for(let i=0; i<productList.length; i++) {%>
                    <article class="producto producto--oferta">
                            <a href="/products/detail/<%= productList[i].id %>" class="producto__button-producto">
                                <div class="producto__contenedor-imagen">
                                    <img src="<%= productList[i].images[0].url %>" alt="imagen-oferta" class="producto__imagen" width="100%">
                                </div>
                                <p class="producto__descripcion">
                                    <%= productList[i].short_description  %>
                                </p>
                                <p class="producto__precio">
                                    $<%= productList[i].price %>
                                </p>
                            </a>
                            <a href="/products/cart" class="button-agregar">
                                <div class="button-agregar__contenedor-imagen">
                                    <i class="fas fa-shopping-cart"></i>
                                </div>
                                <span class="button-agregar__body">Agregar</span>
                            </a>
                    </article>
                 <% } %>

            </div>
        </section>
        <!--SECCION CONTACTO-->
        <section class="contenedor-seccion">
            <p class="titulos-home"> Contacto </p>
            <div class="contenedor-contacto">
                <div class="forma-contacto">
                    <div class="forma-contacto__contenedor-imagen">
                        <img src="/images/googlemaps.jpg"  class="forma-contacto__imagen" width="100%">
                    </div>
                    <p class="forma-contacto__descripcion">
                        Av. Cazon 2530 Tigre
                    </p>
                </div>
                <div class="forma-contacto">
                    <div class="forma-contacto__contenedor-imagen">
                        <img src="/images/PC-Hora.jpg"  class="forma-contacto__imagen" width="100%">
                    </div>
                    <p class="forma-contacto__descripcion">
                        Horarios de atencion: 8hs a 19hs
                    </p>
                </div>
                <div class="forma-contacto">
                    <div class="forma-contacto__contenedor-imagen">
                        <img src="/images/servicio-cliente.jpg"  class="forma-contacto__imagen" width="100%">
                    </div>
                    <div class="forma-contacto__descripcion">
                        <p class="forma-contacto__email">E-mail: hardcomerce@gmail.com</p> 
                        <p class="forma-contacto__cel">Cel/tel: 15374987365</p>
                    </div>
                </div>
             </div>
        </section>
    </main>

    <footer class="main-footer">
        <%- include("../partials/footer") %>
    </footer>

</body>
</html>