<!DOCTYPE html>
<html lang="en">
<head>
    <title>listado</title>
    <link rel="stylesheet" href="/CSS/listOfArticles.css">
    <%- include('../partials/head') %>
</head>
<body>
    <header>
        <%- include ('../partials/header') %>
    </header> 

    <main>
        <div class="lista">
            <div class="barra-de-clasificacion">
                <div class="titulo-clasificacion">
                    <p>Ordenar por:</p>
                </div>
                <div class="caja-clasificacion">
                    <p>Rango de precio</p>
                </div>
                <div class="caja-clasificacion">
                    <p>Envio gratis:</p>
                </div>
                <div class="caja-clasificacion">
                    <p>Cantidad de cuotas</p>
                </div>
                <div class="caja-clasificacion">
                    <p>Marcas</p>
                </div>
                <div class="caja-clasificacion">
                    <p>Notebook</p>
                </div>
                <div class="caja-clasificacion"> 
                    <p>Perifericos</p>
                </div>
                <div class="caja-clasificacion">
                    <p>Placas de video</p>
                </div>
                <div class="caja-clasificacion">
                    <p>Procesadores</p>
                </div>
                <div class="caja-clasificacion">
                    <p>memorias ram</p>
                </div>
                <div class="caja-clasificacion">
                    <p>Motherboard</p>
                </div>
                <div class="caja-clasificacion">
                    <p>Discos duros/SSD</p>
                </div>
                <div class="caja-clasificacion">
                    <p>Monitores</p>
                </div>
            </div>
            <section class="contenedor-seccion">
                <div class="contenedor-productos">
                   
                    <% productList.forEach((products)=>{%>  
                        <article class="separar">      
                                <div>
                                    <a href="/products/detail/<%= products.id %>" class="producto__button-producto">
                                        <div class="producto__contenedor-imagen">
                                            <img src="<%= products.image %>" alt="imagen-oferta" width="100%">
                                        </div>
                                    </a>
                                </div>
                                <div class="comprarAgregar">
                                    <p class="producto__descripcion">
                                        <%= products.description  %>
                                    </p>
                                    <p class="producto__precio">
                                        <%= products.precio %>
                                    </p>
                                    <a href="/products/Cart" class="button-agregar">
                                        <div class="button-agregar__contenedor-imagen">
                                            <i class="fas fa-shopping-cart"></i>
                                        </div>
                                        <div class="button-agregar__body">Agregar</div>
                                    </a>
                                    <a href="#" class="button-agregar">
                                        <div class="button-agregar__contenedor-imagen">
                                        </div>
                                        <div class="button-agregar__body">Comprar</div>
                                    </a>
                                </div>
                        </article>
                    <% }) %>
                    
                </div>
            </section>
        </div>
    </main>
    <footer class="main-footer">
        <%- include("../partials/footer") %>
    </footer>

</body>
</html>