<!DOCTYPE html>
<html lang="en">
<head>
    <title>listado</title>
    <link rel="stylesheet" href="/CSS/listOfArticles.css">
    <%- include('../partials/head') %>
</head>
<body>
    <header>
        <%- include ('../partials/header') %>
    </header>

    <main>
        <div class="lista">
            <div class="barra-de-clasificacion">
                <div class="titulo-clasificacion">
                    <p>Marcas:</p>
                </div>
                <%for(let i=0;i<brandToLoad.length;i++){%>
                <a href="#" class="caja-clasificacion">
                    <p><%= brandToLoad[i].name %></p>
                </a>
                <% } %>
                <div class="titulo-clasificacion">
                    <p>Categorias:</p>
                </div>
                <%for(let i=0;i<categoryToLoad.length;i++){%>
                    <a href="#" class="caja-clasificacion">
                        <p><%= categoryToLoad[i].info %></p>
                    </a>
                <% } %>
            </div>
            <section class="contenedor-seccion">
                <div class="contenedor-productos">
                    <%for(let i=0;i<productList.length;i++){ %>
                        <article class="separar">
                                <div>
                                    <a href="/products/detail/<%= productList[i].id %>" class="producto__button-producto">
                                        <div class="producto__contenedor-imagen">
                                            <img src="<%= productList[i].images[0].url %>" alt="imagen-oferta" width="100%">
                                        </div>
                                    </a>
                                </div>
                                <div class="comprarAgregar">
                                    <p class="producto__precio">
                                        <%= productList[i].name%>
                                    </p>
                                    <p class="producto__precio">
                                        <%= '$' + productList[i].price%>
                                    </p>
                                    <p class="producto__descripcion">
                                        <%=productList[1].product_description%>
                                    </p>
                                </div>
                        </article>
                    <% } %>
                </div>
            </section>
        </div>
    </main>
    <footer class="main-footer">
        <%- include("../partials/footer") %>
    </footer>

</body>
</html>