<!DOCTYPE html>
<html lang="en">
<head>
    <title>productCreate</title>
    <link rel="stylesheet" href="/CSS/productEdition.css">
    <%- include('../partials/head') %>
</head>
<body>

    <header>
    <%- include ('../partials/header') %>
    </header>

    <main>
        <form class="formulario" action="/products/productEdition/<%= productToEdit.id%>?_method=PUT"
           enctype="multipart/form-data" method="POST">

            <div class="input-container">
                <label for="nombre">Nombre</label>
                <input placeholder="Nombre del producto" name="name" id="name" required value="<%= productToEdit.name%>">
            </div>
            <div class="input-container">
                <label for="product_description">Descripción del producto:</label>
                <textarea name="product_description" id="product_description"><%=productToEdit.product_description%></textarea>
            </div>

           <div class="input-container">
                <label for="short_description">Descripción corta del producto:</label>
                <textarea name="short_description" id="short_description"><%=productToEdit.short_description%></textarea>
           </div>

           <div class="input-container">
                <label for="category">Categoria del producto</label>
                <select class="category" id="category" name="category">
                   <option value="<%= productToEdit.category.id%>" selected="selected"><%= productToEdit.category.info%></option>
                   <%categories.forEach(category => { %>
                       <option value=" <%= category.id%> " > <%= category.info%> </option>
                   <%})%>
               </select>
           </div>
           <div class="input-container">
                <label for="brand">marca del producto</label>
                <select class="brand" id="brand" name="brand">
                   <option value="<%= productToEdit.brand.id%>" selected="selected"><%= productToEdit.brand.name%></option>
                   <%brandToLoad.forEach(brand => { %>
                       <option value=" <%= brand.id%> " > <%= brand.name%> </option>
                   <%})%>
                </select>
            </div>

            <div class="input-container">
               <label for="price">Precio</label>
               <input type="text" size="5" id="price" name="price" required pattern="[0-9]+" required value="<%= productToEdit.price %>"/>
            </div>

            <div class="input-container">
               <label for="quota">Cuotas</label>
               <select id="quota" name="quota">
                <option value="<%= productToEdit.quota%>" selected="selected"><%= productToEdit.quota%></option>
                   <option value="0">0</option>
                   <option value="3">3</option>
                   <option value="6">6</option>
                   <option value="9">9</option>
                   <option value="12">12</option>
               </select>
            </div>
            <div class="input-container">
                <label for="stock">stock</label>
                <input type="text" size="5" id="stock" name="stock" required pattern="[0-9]+" required value="<%= productToEdit.stock %>"/>
             </div>
            <div class="input-container">
                <label for="photo">Imagenes</label>
                <%for(let i=0;i<productToEdit.images.length;i++){ %>
                    <div>
                        <div class="img-container">
                            <img src="<%= productToEdit.images[i].url %>" width="100%">
                        </div>
                        <input type="file" name="productImage<%=i%>" multiple/>
                    </div>
                <%}%>
           </div>
           <div class="input-container">
                <button type="submit">ENVIAR</button>
                <button type="reset">BORRAR</button>
           </div>
        </form>
    </main>

<footer class="main-footer">
    <%- include("../partials/footer") %>
</footer>

</body>
</html>