<!DOCTYPE html>
<html lang="en">
<head>
    <title>productCreate</title>
    <link rel="stylesheet" href="/CSS/products.css">
    <%- include('../partials/head') %>
</head>
<body>

    <header>
    <%- include ('../partials/header') %>
    </header>

    <main>
        <section class="contenedor-productos">
            <article class="product">
                <a href="/products/productCreate" class="button-productCreate">
                    <div class="productCreate__contenedor-imagen"><img src="/images/subir archivo.png" width="100%" class="productCreate__image"></i></div>
                    <p class="productCreate__body">Cargar producto nuevo</p>
                </a>
            </article>
            <% for (let i=0;i<productList.length;i++){%>
                <article class="product">
                    <div class="product__contenedor-imagen"><img src="/images/imgProducts/<%= productList[i].image1 %>"  class="product__image"></div>
                    <p class="product__name"><%= productList[i].name%></p>
                    <div class="product__contenedor-buttons">
                        <a href="/products/productEdition/<%= productList[i].id %>" class="product-button proudct-button--editar">
                            <span class="product-button__body">Editar</span>
                        </a>
                             <form action="/products/<%= productList[i].id %>?_method=DELETE" method="POST" class="product-button proudct-button--borrar">
                                <button type="submit" class="product-button__body">Delete</button>
                            </form>
                    </div>
                </article>
            <%}%>
        </section>
    </main>

<footer class="main-footer">
    <%- include("../partials/footer") %>
</footer>

</body>
</html>