<!DOCTYPE html>
<html lang="en">
<head>
    <title>listado</title>
    <link rel="stylesheet" href="/CSS/listOfUsers.css">
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- include ('../partials/header') %>
    </header> 

    <main>
        <div><h1>Lista de usuarios</h1></div>
        <div class="contenedor-usuarios">
                <% usersList.forEach((user) => { %> 
                    <span>
                        <h2 class="informacionUsuario">
                            <p><%= user.name %> </p>
                        </h2>
                        <a href="/user/userDetail/<%= user.id %>">
                            <img class="logoUser" src="<%= user.imagen %>" alt="" width="20%">
                        </a>
                    </span>
           <% }) %> 

        </div>
        
    </main>

    <footer class="main-footer">
        <%- include("../partials/footer") %>
    </footer>

</body>
</html>