<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registro</title>
    <link rel="stylesheet" href="/CSS/register.css">
    <%- include('../partials/head') %>
</head>
<body>
    <header>
        <%- include ('../partials/header') %>
    </header>
    <main >
        <div>
            <h1>Registrarse</h1>
            <form class="formulario" action="/user/register" method="POST" enctype="multipart/form-data">
                <div class="input-container">
                    <label for="name">Ingrese su nombre</label>
                    <input type="text" name="name" id="name" value="<%= locals.oldValues && oldValues.name%>" />
                    <span class= 'msg-error'><%= locals.errors && errors.name ? errors.name.msg : '' %> </span> 
                </div>

                <div class="input-container">
                    <label for="lastName">Ingrese apellido</label>
                    <input type="text" name="lastName" id="lastName" />
                    <span class= 'msg-error'><%= locals.errors && errors.lastname ? errors.lastname.msg : '' %> </span> 
                </div>

                <div class="input-container">
                    <label for="email">Ingrese email</label>
                    <input type="text" name="email" id="email" />
                    <span class= 'msg-error'><%= locals.errors && errors.email ? errors.email.msg : '' %> </span> 
                </div>
                
                <div class="input-container">
                    <label for="password">Contraseña</label>
                    <input type="text" name="password" id="password" />
                    <span class= 'msg-error'><%= locals.errors && errors.password ? errors.password.msg : '' %> </span> 
                </div>

                <div class="input-container">
                    <label for="cell">Ingrese número de celular</label>
                    <input type="text" name="cell" id="cell"  />
                </div>
                
                <div class="input-container">
                    <label for="imagen">Imágen</label>
                    <input type="file"  name="imagen" id="imagen" />
                </div>

                <div class="input-container">
                    <button type="submit">ENVIAR</button>
                </div>
              
            </form>
        </div>
    </main>
    <footer class="main-footer">
        <%- include("../partials/footer") %>
    </footer>
</body>
</html>