<!DOCTYPE html>
<html lang="en">
<head>
    <title>listado</title>
    <link rel="stylesheet" href="/CSS/listOfArticles.css">
    <%- include('../partials/head') %>
</head>

    <header>
        <%- include ('../partials/header') %>
    </header> 

    <main>
        <section class="users-detail">
            <% if (userDetail == null) {%>
             No existe el usuario :( 
            <%} else { %>
            
             <h2><%= userDetail.Name %></h2>
             <h3>Name: <%= userDetail.name %> </h3>
             <h3>Name: <%= userDetail.lastName %> </h3>
             <h3>Name: <%= userDetail.email %> </h3>
             <h3>Name: <%= userDetail.password %> </h3>
             <h3>Name: <%= userDetail.cell %> </h3>
            <% } %>
            <a href="/user/editUsers/<%= userDetail.id %>">
                <button>Edit</button>
            </a> 
            <form action="/user/<%= userDetail.id %>?_method=DELETE" method="POST">
                <button type="submit">Delete</button>
            </form>
       
             
         </section>
    </main>

    <footer class="main-footer">
        <%- include("../partials/footer") %>
    </footer>

</body>
</html>